<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}"  >
<head>
    <meta charset="UTF-8">
    <title>Owners Index Page</title>
</head>
<body>
<h2 th:text="'List Of Owners'">Owners Index Page</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 120px;">ID</th>
            <th style="width: 200px;">First name</th>
            <th style="width: 120px">Last name</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="owner : ${owners}">
            <td th:text="${owner?.id}"></td>
            <td th:text="${owner?.fname}"></td>
            <td th:text="${owner?.lname}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>